body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(R.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 280px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
content: '';
height: 2px;
width: 0;
background: #ae181b;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
   
}




.content{
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: #fff;
}
.contentent h1{
    font-size: 190px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ae181b;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #ae181b;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
width: 100%;
}
button:hover{
    border: none;
}


.rezervacija{
    display: flex;
    background-color: #ae181b;
}
form{
    text-align: center;
    width: 100%;
    height: 100%;
 
    margin-bottom: 20px;
}
.rezervacija h2{
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
}
.moj{
    display: block;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

input[type=submit] {
    background-color: #ae181b;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 20px;
    text-transform: uppercase;
  }

  .sekcija3{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: left;
  }
  .sekcija3 img{
width: 45%;
height: 35%;
display: flex;
float: left;
margin-right: 20px;

  }
  .sekcija3 h4{
    color: darkgrey;
    text-align: left;
  }
  .sekcija3 p{
    color: darkgrey;
    text-align: left;
    
  }



  .prvi{
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
   
    
  }
  .kutija{
    width: 25%;
    height: auto;
  float: left;
  text-align: left;
    
    margin-left: 5%;
  }
  .prvi .kutija h3{
   
    color: #ae181b;
  }
  .prvi .kutija p{
    color: darkgrey;
  }
 .sekcija4 h1{
    color: #ae181b;
    font-size: 35px; margin-left: 5%;
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

 }



 .ponude{
  width: 100%;
  height: 200px;
  align-items: center;

display: flex;
  text-align: center;
  background-color: #ae181b;
 }
 .wifi img{
  width: 40px;
  height: 40px;
text-align: center;

 
 }
 .wifi{
  align-items: center;
  width: 100%;
 }
 .wifi h2{
  color: #fff;
  text-transform: uppercase;
 }
 .wifi p{
  color: #fff;
 }




 .kutija33{
  text-align: left;
  display: flex;
 

 }
 .kutija33 h1{
text-transform: uppercase;
font-size: 35px;
color: #ae181b;
margin-left: 5%;
text-align: left;
 }
 .kutija33 p{
  text-align: left;
 }

 .kutija31{
  text-align: left;
  width: 35%;
  background-color:rgb(207, 207, 207);
  float: left;
    height: 400px;
     margin-bottom: 25px;
 }
 .Slika img{
  width: 65%;
  height: 400px;

 }
 .kutija31 h1{
  text-transform: uppercase;
  color: #ae181b;
  text-align: center;
  font-size: 35px;
 }
 .kutija31  p{
  margin-left: 15px;
  color: rgb(128, 128, 128);
 }

 .sve{
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 5%;

 }
 .km1{
  width: 30%;
  height: auto;


 }
 .km1 img{
  width: 100%;
  height: 100%;
 }
 .km2{
  width: 20%;
  height: 100%;
text-align: left;
 
 }
 .km2 h1{
  margin-top: 20%;
  margin-left: 5%;
  text-transform: uppercase;
  color: #ae181b;

 }
 .km2 p{
  margin-left: 5%;
  color: darkgray;
 }
 footer{
  margin-top: 20px;
  width: 100%;
  height: 300px;
  background-color: black;
  text-align: center;
 }
 footer img{
width: 250px;
height: 100px;
 }
 footer p{
  color: #fff;
  font-size: 12px;

 }
 .rad{
  text-align: center;
  font-size: 10px;
 }

